body {
  margin: 0;
}
header {
  background-color: black;
  padding: 1px;
}
header #navBar li {
  display: inline-block;
  margin: 10px;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
main {
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
#divMain {
  margin: auto;
  width: fit-content;
  padding: 5% 5%;
  box-shadow: 0px 0px 30px 20px rgba(255, 247, 247, 0.281);
  border: solid 4px black;
  border-radius: 10px;
  background-color: white;
}

#gridSkills {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  gap: 25px;
}
.skill_container {
  background-color: rgb(65, 63, 63);
  padding: 15px 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 10px 0px 15px 5px rgb(153, 147, 147);

  color: white;
}
.skill_container p {
  text-align: center;
}

.skill_container img {
  object-fit: cover;
  width: 50px;
}
#projects {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  margin: auto;
  column-gap: 25px;
  align-items: center;
  justify-content: center;
}
.projectsContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: black solid 3px;
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
  margin: 25px;
  width: 250px;
  height: 70%;
  border-radius: 10px;
  box-shadow: 10px 0px 15px 5px rgb(153, 147, 147);
  text-align: center;
  transition: 500ms;
  position: relative;
}
.projectsContainer:hover {
  transform: translateY(-20px);
}
.projectsContainer img {
  width: 80px;
  height: 80px;
}
.techUsed {
  list-style: "\26A1";
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}
.projectsContainer li {
  margin: 5px;
}

#imgLink {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0;
  background-color: rgb(17, 212, 226);
  padding: 1px 10px;
}
#nav_footer li {
  display: inline;
}
#nav_footer img {
  width: 50px;
  height: 50px;
  margin: 15px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
#nav_footer {
  background-color: black;
  margin: 0;
  padding: 1px;
}
@media (max-width: 700px) {
  #projects {
    grid-template-columns: repeat(1, 300px);
  }
  .projectsContainer {
    width: 250px;
    height: 70%;
  }
  #gridSkills {
    grid-template-columns: repeat(2, 100px);
  }
  /* body{
        background-color: cadetblue;
    } */
}
@media (min-width: 700px) and (max-width: 1200px) {
  /* body{
    background-color: brown;
  } */
  #projects {
    grid-template-columns: repeat(2, 300px);
  }
}
