
body {
 /* background-image: url("../fondox2.png");*/
  background-repeat: repeat-y;
  background-size: cover;
  background-color: black;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  opacity: 0.8;
  scroll-behavior: smooth;
  height: 100%;
}

.circle {


  position: absolute;
  border-radius: 50%;
}
.circles {
  position: absolute;
  height: 270px;
  width: 450px;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.circle__one {
  animation-name: movement1;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  height: 120px;
  width: 120px;
  top: -45px;
  left: -290px;
  background: linear-gradient(166.07deg, #e3179e 9.94%, #7c00c8 94.99%);
  box-shadow: 0 0 55px 15px #e3179e;

  transform: rotate(41.4deg);
}
.circle__two {
  animation-name: movement2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  height: 280px;
  width: 280px;
  bottom: -90px;
  right: -55px;
  opacity: 0.8;
  background: linear-gradient(91.36deg, #ff493c 1.08%, #ff1861 98.23%);
  box-shadow: 0 0 55px 15px #ff1861;
  transition: 500ms;

  transform: rotate(41.4deg);
}
.circle__three {
  animation-name: movement3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  height: 60px;
  width: 60px;
  top: -135px;
  right: 95px;
  opacity: 0.8;
  background: linear-gradient(181.16deg, #079f99 0.99%, #0fe3ff 76.35%);
  box-shadow: 0 0 55px 15px #079f99;
  transform: rotate(-25.07deg);
}
@keyframes movement3 {
  0% {
    top: -150px;
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
    right: -5px;
  }

  100% {
    transform: scale(1.3);
    top: -150px;
  }
}
@keyframes movement2 {
  0% {
    right: -10%;
    bottom: -120px;
    transform: scale(0.7);
  }
  40% {
    bottom: -50px;
    right: 20px;
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.7);
    bottom: -120px;
    right: -10%;
  }
}
@keyframes movement1 {
  0% {
    left: -220px;
  }
  40% {
    left: -190px;
  }

  100% {
    left: -220px;
  }
}
.glass-header {
  width: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    109.4deg,
    rgba(255, 255, 255, 0.315) 0%,
    rgba(255, 255, 255, 0.082) 101.64%
  );
  position: absolute;
  backdrop-filter: blur(12px);
  border-radius: 0px 0px 25px 25px;
  transition: 1500ms;
}

footer {
  transition: 1500ms;
  width: 100%;

  right: 0px;
  
  /*background-image: url("../fondox.png");*/
  backdrop-filter: blur(12px);
}
f
footer:hover{
  background-color: #0fa;
}


li {
  display: inline;
  color: white;
  position: relative;
  margin-left: 15px;
}
#imagen-main{
  float: right;
  width: 550px;
  height: 550px;
}
nav{
  color:transparent;
}
a:visited { text-decoration: none; color:white; }
.h {
  position: relative;
  bottom: 25px;
  text-shadow:
  0 0 7px #fff,
  0 0 10px rgb(101, 5, 228),
  0 0 21px rgb(7, 147, 212),
  0 0 151px #0fa;
}
#logoimg {
  max-width: 50%;
    height: auto;
    display:block;
}


p {
  text-align: justify;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: 25px;
  line-height: 50px;
}
img {
  width: 35px;
  height: 35px;
}
main {
  width: 55%;
  height: 850px;
  position: relative;
  margin: 5.4% auto 50px auto;
  background: linear-gradient(
    109.4deg,
    rgba(255, 255, 255, 0.315) 0%,
    rgba(255, 255, 255, 0.082) 101.64%
  );
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.267);
  overflow: hidden;
  border-radius: 10px;
  transition: 1500ms;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
#redes {
  font-size: 20px;
}


a {
  position: relative;
  bottom: -5px;
  text-decoration: none;
}
a:hover {
  color: burlywood;
}
.redes:hover {
  width: 45px;
  height: 45px;
  transition: 500ms;
}



.divs {
  width: 85%;
  height: 35%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  background-color: #079f99;
}
.mainH{
  float: left;
  margin-left: 50px;
  margin-top: 35px;
}
h1,h2,h3,h4{
  color: white;
}
h1{
  font-size: 35px;
  font-weight: bold;
}
#text-Main{
  margin-left: 35px;
}
.progress{
  margin-left: 50px;
  width: 65%;
}
.lol{
  display: inline;
  margin: 5px;
}
.divjaja{
  height: 35%;
  width: 100%;
}
progress {
  display: block;
  border-radius: 65px;
  margin-left: 25px;
  margin-top: 5px;
  
  /* style rules */
}
.label-div{
  margin-top: 50px;
  margin-left: 25px;
}
progress::-webkit-progress-bar {
  /* style rules */
  border-radius: 65px;
  height: 5px;



 
}
progress::-webkit-progress-value {
  /* style rules */
  border-radius: 65px;
  color: #ff1861;
  background-color: #ff493c;




}
progress::-moz-progress-bar {
  /* style rules */
  color: #ff1861;




}
#flutter::-webkit-progress-value {
  /* style rules */
  border-radius: 65px;
  background: linear-gradient(45deg,blue,cyan );



}
#CSS::-webkit-progress-value {
  /* style rules */
  border-radius: 65px;
  color: #ff1861;
  background: linear-gradient(45deg,cyan,purple );




}
#Dart::-webkit-progress-value {
  /* style rules */
  border-radius: 65px;
  color: #ff1861;
  background: linear-gradient(45deg,cyan,rgb(0, 255, 13) );




}
#HTML::-webkit-progress-value {
  /* style rules */
  border-radius: 65px;
  color: #ff1861;
  background: linear-gradient(45deg,rgb(248, 134, 4),rgb(225, 11, 233) );




}
.division{
  width: 100%;
  height: 100vh;
}
#division1{
  display: grid;
  grid-template-columns: repeat(4,350px);
  column-gap: 100px;
}
#division2{
  background-color: #7c00c8;
}
.proyectos{
  text-align: center;
  width: 250px;
  display: inline-table;
  height: 350px;
  margin: 45px;
  position: relative;
  background: linear-gradient(
    109.4deg,
    rgba(255, 255, 255, 0.315) 0%,
    rgba(255, 255, 255, 0.082) 101.64%
  );
  border-radius: 15px;
}
.proyecto-foto{
  width: 40%;
  height: 100px;
  margin-top: 15px;

}
p{
  color: white;
  text-align: left;
  line-height: 30px;
}
#h2-proyectos{
 margin-left: 100px;
 margin-top: 50px;
 font-size: 25px;
}
#contact{
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  height: 500px;
  width: 45%;
  position: relative;
  margin: 5.4% auto 50px auto;
  background: linear-gradient(
    109.4deg,
    rgba(255, 255, 255, 0.315) 0%,
    rgba(255, 255, 255, 0.082) 101.64%
  );
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.267);
  overflow: hidden;
  border-radius: 10px;
  transition: 1500ms;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;


}
#center{
  margin: auto;
  
}
#main-about{
  height: 500px;
  width: 45%;
  position: relative;
  margin: 5.4% auto 50px auto;
  background: linear-gradient(
    109.4deg,
    rgba(255, 255, 255, 0.315) 0%,
    rgba(255, 255, 255, 0.082) 101.64%
  );
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.267);
  overflow: hidden;
  border-radius: 10px;
  transition: 1500ms;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 25px;
} */

